doctype html
// Khai báo html
html
    head
        // Những cái meta
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        // Câu lệnh hiển thị giao diện dành cho điện thoại di động và máy tính bảng
        title GiuaKi
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='../CSS/GiuaKi.css')
    body
        .page-Top 
            .page-top-title 
            .page-top-menu    
                    ul
                        li.trangchu
                            a(href='') TRANG CHỦ
                        li.thongtintuyensinh
                            a(href='') THÔNG TIN TUYỂN SINH
                        li.thongtincanhan
                            a(href='') THÔNG TIN CA NHÂN
                        li.chuongtrinhdaotao
                            a(href='') CHƯƠNG TRÌNH ĐÀO TẠO 
                        li.chuongtrinhwed
                            a(href='') CHƯƠNG TRÌNH WED
                        li.lienhe 
                            a(href='') LIÊN HỆ        
        .page-main 
            .page-main-left 
            .page-main-right 
                .page-main-right-top
                .page-main-right-bottom
        .page-bottom