.main
    h1
    b &Dstrok;&abreve;ng k&iacute; Th&agrave;nh Vi&ecirc;n
    .top
    h2 th&ocirc;ng tin t&agrave;i kho&#x1EA3;n
    .yeunhu
        label.text_field(for='') username
        input.text_input(type='text', name='', id='', placeholder='Nhập username')
    .yeunhu
        label.text_field(for='') password
        input.text_input(type='password', name='', id='', placeholder='Nhập password')
    .yeunhu
        label.text_field(for='') Nh&#x1EAD;p l&#x1EA1;i Password
        input.text_input(type='password', name='', id='', placeholder='Nhập lại password')
    h2 Th&ocirc;ng tin c&aacute; nh&acirc;n
    .yeunhu
        label.text_field(for='') H&#x1ECD; v&agrave; t&ecirc;n
        input.text_input(type='text', name='', id='', placeholder='Nhập họ và tên')
    .yeunhu
        label.text_field(for='') Gi&#x1EDB;i t&iacute;nh
        textarea(name='', id='', cols='10', rows='3.5', placeholder='Nhập địa chỉ')
    .yeu_nhu
        label.text_field(for='') Gi&#x1EDB;i t&iacute;nh
        input(type='date', name='', id='', placeholder='dd/MM/yyyy')
    .yeu_nhu
        label.text_field(for='') Gi&#x1EDB;i t&iacute;nh
        input(type='email', name='', id='', placeholder='mail@gmail.com')
    .yeu_nhu
        label.text_field(for='') Gi&#x1EDB;i t&iacute;nh
        .main_bottom
        .bottom_radio
            input(type='radio', name='', id='')
            label(for='') &dstrok;&#x1ED9;c th&acirc;n
        .bottom_radio
            input(type='radio', name='', id='')
            label(for='') &Dstrok;&atilde; &dstrok;&iacute;nh h&ocirc;n
        .bottom_radio
            input(type='radio', name='', id='')
            label(for='') ly d&#x1ECB;
        .bottom_radio
            input(type='radio', name='', id='')
            label(for='') Qu&aacute; ph&#x1EE5;
    .divai
    button G&#x1EED;i &dstrok;i
    button Nh&#x1EAD;p l&#x1EA1;i