doctype html
// khia báo html*/
head
    // những cái meta
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // câu lêngj hiển thị giao diện ddt, lap
    title khongthichcode
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='./class.css')
.khung 
    .tren
    .giua
        .giuaTrai 
        .giuaPhai 
    .duoi    